<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vietdung.oderfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.detailhistory.DetailHistoryActivity"></activity>
        <activity android:name=".ui.history.HistoryActivity" />
        <activity android:name=".ui.favorite.FavoriteActivity" />
        <activity android:name=".ui.pay.PayActivity" />
        <activity
            android:name=".ui.fooddetails.comment.AddCommentActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.cart.CartActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.signin.RegisterActivity" />
        <activity android:name=".ui.login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.typemenu.TypeMenuActivity" />
        <activity android:name=".ui.menu.MenuActivity" />
        <activity android:name=".ui.fooddetails.FoodDetailsActivity" />
        <activity
            android:name=".ui.cart.CartActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.search.SearchActivity"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.fooddetails.comment.AddCommentActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>